/* Coolors Exported Palette - coolors.co/12130f-5b9279-8fcb9b-eae6e5-8f8073 */

/* HSL */
$color1: hsla(75%, 12%, 7%, 1);
$color2: hsla(153%, 23%, 46%, 1);
$color3: hsla(132%, 37%, 68%, 1);
$color4: hsla(12%, 11%, 91%, 1);
$color5: hsla(28%, 11%, 51%, 1);

/* RGB */
$color1: rgba(18, 19, 15, 1);
$color2: rgba(91, 146, 121, 1);
$color3: rgba(143, 203, 155, 1);
$color4: rgba(234, 230, 229, 1);
$color5: rgba(143, 128, 115, 1);
