@import "palette";

body {
  background-color: $color2;
  margin: 0;
  height: 100vh;
}

h1 {
  margin-left: 1em;
}

button {
  background-color: $color4;
  color: $color1;
  border: none;
  margin: .5em;
}

nav {
  display: flex;
  margin:auto;
  justify-content: center;
  padding: 1em;

  button {
    height: 6em;
    width: 8em;
  }
}

main {
  background-color: $color3;
  height: 100%;

}

section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

article {
  color: $color1;
  border: 2px solid $color1;
  height: 10em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}
